<!DOCTYPE html>
<html land="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width-device-width, initial-scale=1.0">
    <title>Bienvenidos a MercadoLiebre</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
    <link href="/css/main.css" rel="stylesheet" type="text/css">
    <link href="/css/tablet.css" rel="stylesheet" type="text/css">
    <link href="/css/desktop.css" rel="stylesheet" type="text/css">
    <link href="/css/normalize.css" rel="stylesheet" type="text/css">
    <link href="/css/styles.css" rel="stylesheet" type="text/css">
</head>

<body>
    <header class="main-header">
        <div class="logo-cuotas">
            <div class="main-header-topbar">
                <img alt="Logo MercadoLiebre" src="/images/logo-mercado-liebre.svg" width="360px" class="logo-principal">
                
                <form class="contenedor-barra-busqueda">
                    <input type="text" placeholder="Buscar productos, marcas y más…" name="busqueda" class="barra-busqueda"> 
                    <a href="" class="icono-busqueda">
                        <i class="fas fa-search"></i>
                    </a>
                </form>
                
                <!--<form class="barra-busqueda"><input type="text" placeholder="Buscar productos, marcas y más..." size="50"> <i class="fas fa-search"></i></form>-->

                <!--<section>
                    <h1>Lugar de barra de búsqueda</h1>
                    <i class="fas fa-search"></i>
                </section>-->
            </div>

            <h3 class="centrar"><i class="fas fa-hand-holding-usd"></i>¡Comprá en cuotas y sin tarjeta de crédito!</h3>
        </div>

        <nav class="main-navbar">
            <ul class="left-navbar">
                <li><a href = #>Ofertas</a></li>
                <li><a href = #>Tiendas Oficiales</a></li>
                <li><a href = #>Vender</a></li>
                <li><a href = #>Ayuda</a></li>
            </ul>

            <ul class="right-navbar">
                <li><a href = /register.html>Creá tu cuenta</a><i class="far fa-address-card"></i></li>
                <li><a href = /login.html>Ingresá</a><i class="fas fa-sign-in-alt"></i></li>
                <li><a href = #>Mis compras</a><i class="fas fa-shopping-basket"></i></li>
            </ul>
        </nav>

        <div class="burger-menu centrar"><i class="fas fa-bars"></i></div>
    </header>


<section>
    <img class="fotos-de-la-pag-banner" src="/images/img-home-banner.jpg" width="360" alt="Banner de ofertas">
</section>

    
<!--<form action="/crear-producto" method="POST" class="create-form">
    <div class="control-formulario">
        <label for="">Nombre del producto:</label>
        <input type="text" name="nombre" class="control-">
    </div>

    <div class="control-formulario">
        <label for="">Precio:</label>
        <input type="text" name="precio" class="control-">
    </div>
   
    <div class="control-formulario">
        <label>Descripción:</label>
        <textarea name="descripcion" class="control-"></textarea>
    </div>
    
    <div class="control-formulario">
        <label for="">Categoría:</label>
        <select name="categoria"  class="control-">
            <option value="hogar">Hogar</option>
            <option value="electro">Electro</option>
            <option value="indumentaria">Indumentaria</option>
        </select>
    </div>

    <div class="control-formulario">
        <label for="">Ciudad:</label>
        <select name="categoria"  class="control-">
            <option value="ba">Buenos Aires</option>
            <option value="ros">Rosario</option>
            <option value="mdz">Mendoza</option>
        </select>
    </div>
    
    <div class="control-formulario">
        <label for="">Está en oferta:</label>
        <input type="radio" name="enOferta">
    
    </div>
    <button type="submit" class="boton-formulario">Guardar</button>
    <button type="reset" class="boton-formulario">Borrar</button>
</form>-->

    <main>
        <h3 class="titulares centrar">Basado en tu última visita</h3>
        <section class="ult-visita articulos-container">
            <article>
                <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex" width="360" class="fotos-de-la-pag">
                <div class="flex-container"><em class="fas fa-truck"></em></div>
                    <div class="descripcion">
                        <div class="precios-descuentos">
                            <p class="precios">$6.770</p>
                            <p class="descuentos">40% OFF</p>
                        </div>
                        <p class="nombres-de-productos"><strong>Cafetera Moulinex</strong><p></p>
                    </div>
            </article>

            <article>
                <img src="/images/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019" width="360" class="fotos-de-la-pag">
                <div class="flex-container"><em class="fas fa-truck"></em></div>
                    <div class="descripcion">
                        <div class="precios-descuentos">
                            <p class="precios">$230.000</p>
                            <p class="descuentos">20% OFF</p>
                        </div>
                        <p class="nombres-de-productos"><strong>MacBook Pro 2019</strong></p>
                    </div>
            </article>

            <article>
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10" width="360" class="fotos-de-la-pag">
                <div class="flex-container"><em class="fas fa-truck"></em></div>
                    <div class="descripcion">
                        <div class="precios-descuentos">
                            <p class="precios">$70.500</p>
                            <p class="descuentos">10% OFF</p>
                        </div>
                        <p class="nombres-de-productos"><strong>Samsung Galaxy S10</strong></p>
                    </div>
            </article>

            <article>
                <img src="/images/img-tv-samsung-smart.jpg" alt="SmartTv Samsung 43" width="360" class="fotos-de-la-pag">
                <div class="flex-container"><em class="fas fa-truck"></em></div>
                    <div class="descripcion">
                        <div class="precios-descuentos">
                            <p class="precios">$23.200</p>
                            <p class="descuentos">5% OFF</p>
                        </div>
                        <p class="nombres-de-productos"><strong>SmartTv Samsung 43"</strong></p>
                    </div>
            </article>
        </section>
        
        <h3 class="titulares centrar">Ofertas</h3>
        <section class="articulos-container">
            <article>
                <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex" width="360" class="fotos-de-la-pag">
                <div class="flex-container"><em class="fas fa-truck"></em></div>
                    <div class="descripcion">
                        <div class="precios-descuentos">
                            <p class="precios">$6.770</p>
                            <p class="descuentos">40% OFF</p>
                        </div>
                        <p class="nombres-de-productos"><strong>Cafetera Moulinex</strong></p>
                    </div>
            </article>

            <article>
                <img src="/images/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019" width="360" class="fotos-de-la-pag">
                <div class="flex-container"><em class="fas fa-truck"></em></div>
                    <div class="descripcion">
                        <div class="precios-descuentos">
                            <p class="precios">$230.000</p>
                            <p class="descuentos">20% OFF</p>
                        </div>
                        <p class="nombres-de-productos"><strong>MacBook Pro 2019</strong></p>
                    </div>
            </article>

            <article>
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10" width="360" class="fotos-de-la-pag">
                <div class="flex-container"><em class="fas fa-truck"></em></div>
                    <div class="descripcion">
                        <div class="precios-descuentos">
                            <p class="precios">$70.500</p>
                            <p class="descuentos">10% OFF</p>
                        </div>
                        <p class="nombres-de-productos"><strong>Samsung Galaxy S10</strong></p>
                    </div>
            </article>

            <article>
                <img src="/images/img-tv-samsung-smart.jpg" alt="SmartTv Samsung 43" width="360" class="fotos-de-la-pag">
                <div class="flex-container"><em class="fas fa-truck"></em></div>
                    <div class="descripcion">
                        <div class="precios-descuentos">
                            <p class="precios">$23.200</p>
                            <p class="descuentos">5% OFF</p>
                        </div>
                        <p class="nombres-de-productos"><strong>SmartTv Samsung 43"</strong></p>
                    </div>
            </article>
        </section>
    </main>

    <footer>
        <div class="footer-container">
            <section class="centrar">
                <i class="far fa-credit-card iconos"></i>
                <p><strong>Pagá con tarjeta o en efectivo</strong></br>
                <span class="cuerpos-de-texto">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</span></p>
            </section>

            <section class="centrar">
                <i class="fas fa-gift iconos"></i>
                <p><strong>Envío gratis desde $ 2.500</strong></br>
                <span class="cuerpos-de-texto">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
            </section>

            <section class="centrar">
                <i class="fas fa-user-shield iconos"></i>
                <p><strong>Seguridad, de principio a fin</strong></br>
                <span class="cuerpos-de-texto">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
            </section>
        </div>
        <section class="centrar">
            <p><strong>Copyright © 1999-2020 MercadoLiebre S.R.L.</strong></p>
        </section>
    </footer>
</body>
</html>