*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    }

main section article i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}