@media (min-width: 481px) and (max-width: 768px){
    nav {
        display: inline;
    }

    .burger-menu {
        display: none;
    }

    .nombres-de-productos {
        display: block;
    }

    article {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        padding-top: 20px;
        margin-bottom: 20px;
        margin: 15px;
    }
}

@media (min-width: 481px){
    .main-header-topbar {
        display: flex;
        justify-content: space-between;
    }

    .copy-header {
        max-width: 350px;
        text-align: right;
    }

    .main-navbar {
        display: flex;
        justify-content: space-between;
    }

    .main-navbar ul {
        display: flex;
        margin: 0 5px;
    }

    main section {
        display: flex;
        flex-wrap: wrap;
    }

    main section article {
        width: 43.8%;
    }

    .main-header-topbar {
        justify-content: space-between;
        width: 66%;
    }

    .logo-cuotas {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .contenedor-input-text {
        width: 40%;
    }

    .contenedor-input-button {
        width: 40%;
    }

    main form {
        margin-right: 100px;
        margin-left: 100px;
        padding-top: 50px;
    }

    .nombres-de-productos {
        font-size: 20px;
        background-color: rgba(0,0,0,0.5);
        color: white;
        margin: 0;
        padding: 15px;
        position: absolute;
        left: 0;
        bottom: 0px;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transition: all 450ms;
    }
    
    article:hover .nombres-de-productos {
        opacity: 1;
    }

    .fotos-de-la-pag-banner {
        width: 100%;
        margin-top: 101px;
    }

    .titulo-registra {
        font-weight: bold;
        font-size: 20px;
        padding-top: 70px;
    }
}